body{
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    background: white;
    padding: 1em;

    nav{
        display: none;
    }
    .container{
        display: flex;
        place-content: space-between;
    }

    .menu-icon {
        cursor: pointer;
        margin-top: 1.8em;
    }
}

a{
    color: #444444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col{
    
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing: .3em;
    }
    h1{
        font-size: 2.5em;
        line-height: 1.3em;

    margin-top: .2em;
    }
}

.primary-cta{
    background: #007af3;
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
}

.watch-video-cta{
    display: block;
    margin: 1em 0 0 0;
}

.watch-video-icon{
    height: 25px;
    margin-top: 1em;
    margin-right: .5em;
}


.hero-img{
    margin-top: 2em;
}

.qoutes-section{
    background: #007af3;
    color: white;

        li{
            background: #006bd6;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;

            img{
                width: 5em;
                height: 5em;
                border: 5px solid#006bd6;
                border-radius: 50%;
                margin-top: -4.5em;

            }
        }
}

.last-part{
    background: #494646;
    color: white;

    .Dame{
        letter-spacing: 0.2em;
        font-size: 1em;
    }

    p{
        font-size: .7em;
    }

    h2{
        font-size: 1em;
    }

}

nav.menu-icon{
    display: block;
}

nav{
    position:fixed;
    z-index: 999;
    width: 40%;
    opacity: 50%;
    right: 0;
    top: 0;
    background: #20272e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover{
                font-weight: bold;
            }
        }
    }
}



@media only screen and (min-width: 1100px) {
    .menu-icon, .x-menu-icon{
        display: none;
    }

    .navbar.container{
        display: grid;
        grid-template-columns: 180px auto;

    }

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;

        }

        a{
            color: black;
            font-size: 1.5em;
            padding: 1.5em 1em;
        }

        .current{
            margin-left: 5em;
        }

        ul.primary-nav{
            margin: 0;
        }

        
    }
}

.current{
    font-weight: bold;
}

.html-cta{
    background: blue;
    color: white;
    border-radius: 5em;
    text-decoration: none;
    padding: 0;
    font-weight: bold;
    display: inline-block;
    
    span{
        color: white;
    }
}

.Zuckerberg{
    color: white;
    text-decoration: none;
}

.Hawking{
    color: white;
    text-decoration: none;
}

.Jobs{
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 1080px) {
    section{
        padding: 10em 4em;        
    }

    .hero .container{
        width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col{
            margin: 3em 3em 0 5em;

            h1{
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img{
        width: 40%;
        margin-right: 7em;
    }

    .hero-cta{
        display: flex;
    }

    .primary-cta{
        margin-right: 1.5em;
        margin-top: 1.5em;
    }
    
    .qoutes-section ul{ 
        display: flex;

        li{
            margin: 0 1.5em;
        }
    } 
    
    
}

